@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px; }
  .nav-container img {
    width: 238px; }

.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 701px;
  background: linear-gradient(180deg, rgba(12, 57, 68, 0) 0%, rgba(12, 57, 68, 0.8) 100%), linear-gradient(0deg, rgba(12, 57, 68, 0.3), rgba(12, 57, 68, 0.3)), url(../images/team/banner.jpeg) no-repeat center center fixed;
  background-size: cover;
  border-radius: 27px;
  margin: 0 17px 20px 17px; }
  .banner-container .text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 20px 0; }
    .banner-container .text-banner h2 {
      font-weight: 600;
      font-size: 70px;
      text-align: center; }
      .banner-container .text-banner h2 span {
        font-weight: 1000;
        font-size: 100px; }
    .banner-container .text-banner p {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      margin: 0 25%; }
  .banner-container .container-btn-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 58px;
    padding: 10px;
    border-radius: 37px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #FFF30D;
    margin-top: 20px; }
    .banner-container .container-btn-banner .btn-banner {
      list-style: none; }
      .banner-container .container-btn-banner .btn-banner a {
        font-size: 1.5em;
        font-weight: 800;
        color: #0C3944;
        text-decoration: none; }
  .banner-container .flamepea-bean {
    position: absolute;
    width: 355px;
    height: 135px;
    padding: 10px;
    border-radius: 37px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #F3976B;
    border-radius: 108px;
    transform: rotate(20.2deg);
    right: -200px;
    top: 654px; }

.container-holdup {
  position: relative;
  display: flex;
  margin: 0 200px 100px 200px;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  color: #0C3944; }
  .container-holdup .brickred-bean {
    width: 260px;
    height: 140px;
    padding: 10px;
    border-radius: 37px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #C62E43;
    position: absolute;
    left: -300px;
    bottom: 100px;
    border-radius: 100px;
    transform: rotate(-18deg); }
  .container-holdup .h3-holdup {
    position: relative;
    z-index: 100;
    width: 400px;
    padding: 40px; }
    .container-holdup .h3-holdup h3 {
      font-weight: 900;
      font-size: 3.5rem;
      text-align: center; }
    .container-holdup .h3-holdup .broom-bean {
      z-index: -1;
      width: 250px;
      height: 100px;
      padding: 10px;
      border-radius: 37px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      background-color: #FFF30D;
      position: absolute;
      left: 70px;
      top: 50px;
      border-radius: 100px;
      transform: rotate(-30deg); }
  .container-holdup .p-holdup {
    max-width: 40vw;
    padding: 40px; }
    .container-holdup .p-holdup p {
      font-weight: 500;
      font-size: 2em; }

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 130vh;
  overflow: hidden; }
  main .big-bean {
    z-index: 100;
    width: 100%;
    height: 2400px;
    padding: 10px;
    border-radius: 37px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #0C3944;
    position: absolute;
    left: 0px;
    top: 200px;
    border-radius: 800px; }
  main .atlantis-bean {
    display: block;
    width: 480px;
    height: 900px;
    padding: 10px;
    border-radius: 37px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #C1E94E;
    position: absolute;
    right: 0px;
    top: 90px;
    border-radius: 240px;
    transform: rotate(-40deg); }
  main .borderbean-cerisedark {
    width: 220px;
    height: 100px;
    padding: 10px;
    border-radius: 37px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: none;
    position: absolute;
    left: -90px;
    top: 5rem;
    border-radius: 100px;
    border: 5px solid #9B084F;
    transform: rotate(18deg); }
  main .beanimg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .beanimg-container .calypso-bean {
      width: 220px;
      height: 100px;
      padding: 10px;
      border-radius: 37px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      background-color: #196C84;
      position: absolute;
      left: 200px;
      top: 90px;
      border-radius: 100px;
      transform: rotate(18deg); }
    main .beanimg-container .borderbean-silvertree {
      width: 300px;
      height: 120px;
      padding: 10px;
      border-radius: 37px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      background-color: none;
      position: absolute;
      right: 200px;
      top: 95px;
      border-radius: 100px;
      transform: translate(-10px, -50px) rotate(-29deg);
      border: 5px solid #70AF90; }
    main .beanimg-container .img-bean {
      z-index: 999;
      width: 50rem;
      height: 28rem;
      border-radius: 332px;
      transform: rotate(-7.83deg);
      object-fit: cover;
      box-shadow: 10px 11px 0px #FFF30D;
      margin: 100px 100px 20px 100px; }
  main section {
    display: flex;
    margin: 0 90px; }
    main section .box-container {
      z-index: 9999;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 30px; }
      main section .box-container .box-participants {
        display: flex;
        position: relative;
        align-items: center; }
        main section .box-container .box-participants .minibean {
          position: absolute;
          right: 60px;
          top: -40px;
          width: 90px;
          height: 200px;
          padding: 10px;
          border-radius: 37px;
          text-align: center;
          font-weight: 700;
          font-size: 14px;
          background-color: none;
          border-radius: 100px;
          transform: rotate(40deg);
          object-fit: cover; }
        main section .box-container .box-participants .woman1 {
          background: url(../images/participants/1.png) center center; }
        main section .box-container .box-participants .woman2 {
          background: url(../images/participants/3.jpg);
          background-position: 62% 13%; }
        main section .box-container .box-participants p {
          margin: 30px;
          font-size: 28px;
          font-weight: 400;
          color: white;
          max-width: 50%; }
          main section .box-container .box-participants p span {
            font-weight: 700; }
      main section .box-container .text-box {
        width: 550px;
        color: white; }
        main section .box-container .text-box p {
          margin: 30px;
          font-size: 1.8em; }
      main section .box-container .firstbox {
        width: 500px;
        height: 125px;
        padding: 10px;
        border-radius: 37px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        background-color: #196C84;
        box-shadow: 6px 7px 0px #000000; }
      main section .box-container .secondbox {
        width: 500px;
        height: 125px;
        padding: 10px;
        border-radius: 37px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        background-color: #70AF90;
        box-shadow: 6px 7px 0px #24673A; }
  main footer {
    z-index: 9999999;
    display: flex;
    width: 100%;
    flex-direction: column; }
    main footer .footer-container {
      z-index: 5;
      position: relative;
      height: auto;
      padding: 50px 100px;
      background: white;
      color: #0C3944;
      border-radius: 27px;
      margin: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row; }
      main footer .footer-container img {
        width: auto;
        height: 30px; }
      main footer .footer-container .links h4 {
        font-size: 20px; }
      main footer .footer-container .links a {
        text-decoration: none;
        color: #0C3944; }
      main footer .footer-container .social-media {
        display: flex; }
        main footer .footer-container .social-media li {
          list-style: none; }
          main footer .footer-container .social-media li a {
            display: inline-block;
            margin-right: 35px;
            background: #0C3944;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 50%; }
            main footer .footer-container .social-media li a .fab {
              color: white;
              font-size: 25px; }

@media (max-width: 1500px) {
  .container-holdup {
    display: flex;
    flex-direction: column; }
    .container-holdup .h3-holdup {
      width: 300px;
      padding: 0;
      margin-top: 50px; }
      .container-holdup .h3-holdup .broom-bean {
        left: 30px;
        top: 20px; }
    .container-holdup .p-holdup {
      padding-bottom: 0;
      max-width: none;
      width: 540px; }
  main section {
    flex-direction: column; }
    main section .box-container {
      margin: 50px;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
  .banner-container .text-banner p {
    margin: 20px 40px; } }

@media (max-width: 850px) {
  .container-holdup .brickred-bean {
    left: -350px;
    bottom: 250px; }
  .banner-container .flamepea-bean {
    right: -250px; }
  main .beanimg-container .borderbean-silvertree {
    right: 90px; }
  main .beanimg-container .img-bean {
    width: 38rem;
    height: 20rem; }
  main .borderbean-cerisedark {
    top: 0rem; }
  main footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; }
    main footer .footer-container img {
      margin: 10px; }
    main footer .footer-container .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px; }
    main footer .footer-container .social-media {
      display: flex;
      justify-content: center;
      align-items: center; }
      main footer .footer-container .social-media li a {
        margin: 20px; } }

@media (max-width: 550px) {
  .banner-container .text-banner h2 {
    font-size: 40px; }
  .banner-container .text-banner p {
    font-size: 25px; }
  .banner-container .flamepea-bean {
    right: -300px; }
  .container-holdup {
    margin-bottom: 0; }
    .container-holdup .brickred-bean {
      left: -400px; }
    .container-holdup .p-holdup {
      width: 430px;
      font-size: 13px;
      margin: 20px; }
  main .borderbean-cerisedark {
    left: -180px;
    top: 0rem;
    border: 2px solid #9B084F; }
  main .atlantis-bean {
    display: none; }
  main .beanimg-container .borderbean-silvertree {
    right: 60px;
    top: 130px;
    border: 2px solid #70AF90; }
  main .beanimg-container .calypso-bean {
    left: 120px;
    top: 90px; }
  main .beanimg-container .img-bean {
    width: 25rem;
    height: 16rem;
    box-shadow: 2.4px 2.7px 0px #FFF30D; }
  main section .box-container {
    margin-bottom: 0; }
    main section .box-container .box-participants {
      width: 400px;
      height: 105px; }
      main section .box-container .box-participants p {
        font-size: 25px; }
      main section .box-container .box-participants .minibean {
        width: 85px;
        height: 180px;
        padding: 10px;
        border-radius: 37px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        background-color: none;
        right: 40px; }
    main section .box-container .text-box {
      width: 450px;
      color: white; }
      main section .box-container .text-box p {
        margin: 30px;
        font-size: 1.5em; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  width: 100%; }
