@media (max-width: 1500px){
    .container-holdup{
        display: flex;
        flex-direction: column;
        .broom-bean{
            left: 40%;
            bottom: 230px;
        }
        .h3-holdup{
            width: 300px;
            padding: 0;
            margin-top: 50px;
        }
        .p-holdup{
            padding-bottom: 0;
            max-width: none;
            width: 540px;
        }
    }

    main{
        .borderbean-silvertree{
            display: none;
        }
        section{
            flex-direction: column;
            .box-container{
                margin: 50px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    .banner-container{
        .text-banner{
            p{
                margin: 20px 40px;
            }
        }
    }
}
@media (max-width: 850px){
    .container-holdup{
        .brickred-bean{
            left: -150px;
        }
    }
    .banner-container{
        .flamepea-bean{
            right: -250px;
        }
    }
    main{
        .beanimg-container{
            .img-bean{
                width: 38rem;
                height: 20rem;
            }
        }
        .borderbean-cerisedark{
            top: 2rem;
        }
        footer{
            .footer-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px;
                img{
                    margin: 10px;
                }
                .links{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                }
                .social-media{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li{
                        a{
                            margin: 20px;
                        }
                    }
                }
            }
        }
    }
}