.container-holdup{
    display: flex;
    margin: 0 200px 100px 200px;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    color: $blue-diane;
        .h3-holdup{
            max-width: 25vw;
            padding: 40px;
            h3{
                font-weight: 900;
                font-size: 3.5em;
            }
        }
        .p-holdup{
            max-width: 40vw;
            padding: 40px;
            p{
                font-weight: 500;
                font-size: 2em;

            }
        }
}