.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 14px 54px;
    img{
        width: 238px;
    }
    .nav-ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 10px;
        }
        .btn-login{
            @include btnNav(146px, 36px, $broom);
        }
        .btn-register{
            @include btnNav(146px, 36px, none);
            border: 1px solid $blue-diane;
        }
        a{
            text-decoration: none;
            color: #000000;
        }
    }
}
